.poleButton {
    --bg: white;
    --bg-hover: grey;

    appearance: nome;
    outline: none;
    border: none;
    cursor: pointer;

    transition: background-color 0.25s ease-in-out;
    background-color: var(--bg);

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 80px;
    height: 40px;

    border-radius: 8px;
    filter: drop-shadow(1px 1px 5px rgb(220, 220, 220));
}

.poleButton:hover {
    background-color: var(--bg-hover);
}
