.header {
    display: flex;
    background-color: #C7DAEE;
    justify-content: space-between;
    align-items: center;

    padding-left: 25px;
    height: 50px;
}

.title {
    font-size: x-large;
    font-weight: 600;
}

.userMenu {
    display: flex;
    align-items: center;
    gap: 25px;

    padding-right: 25px;
}

.button {
    appearance: none;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 4px;

    cursor: pointer;
}
